@model LW_12_WebApplication.Models.OperationType
@using LW_12_WebApplication.Models

@using (Html.BeginForm("IndexManualParsingInSingleAction", "Calculator", FormMethod.Post))
{
    <h1>Manual</h1>
    <p>
        @Html.TextBox("num1", "", new { type = "text", @class = "form-input" })
    </p>
    <p>
        @Html.DropDownList("operation", Html.GetEnumSelectList(typeof(OperationType)))
    </p>
    <p>
        @Html.TextBox("num2", "", new { type = "text", @class = "form-input" })
    </p>
    <p>
        <input type="submit" value="Submit" class="form-submit" />
    </p>
}
<div class="line"></div>

@if (ViewBag.Error != null)
{
    <h2>@ViewBag.Error</h2>
}

<style>

    h1 {
        font-weight: 400;
    }

    h2 {
        color: red;
        font-size: 14px;
    }

    p {
        margin: 0;
    }

    .form-input {
        padding: 5px;
        font-size: 16px;
        width: 100%;
        max-width: 320px;
        border-radius: 5px;
        border: 1px solid gray;
    }

    .form-submit {
         font-size: 16px;
         cursor: pointer;
    }

      .line {
          width: 96%;
          height: 1px;
          background-color: gray;
          opacity: 0.2;
          margin-top: 30px;
      }

</style>